In [2]:
import pandas as pd
import numpy as np

In [30]:
file_path = "C:\\Users\\15164\\Desktop\\HAM10000_metadata.csv"

In [31]:
df = pandas.read_csv(file_path)

In [32]:
df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesion_id     10015 non-null  object
 1   image_id      10015 non-null  object
 2   dx            10015 non-null  object
 3   dx_type       10015 non-null  object
 4   age           9958 non-null   float64
 5   sex           10015 non-null  object
 6   localization  10015 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.8+ KB

In [34]:
df.value_counts()

lesion_id    image_id      dx   dx_type    age   sex     localization
HAM_0007628  ISIC_0027059  nv   follow_up  60.0  female  back               1
HAM_0002516  ISIC_0028315  nv   follow_up  35.0  female  lower extremity    1
HAM_0002521  ISIC_0027828  bkl  histo      40.0  male    upper extremity    1
HAM_0002520  ISIC_0032177  nv   follow_up  45.0  male    back               1
HAM_0002519  ISIC_0033148  nv   histo      45.0  female  abdomen            1
                                                                           ..
HAM_0005040  ISIC_0033638  mel  histo      40.0  female  upper extremity    1
             ISIC_0033302  mel  histo      40.0  female  upper extremity    1
HAM_0005039  ISIC_0024320  nv   follow_up  65.0  male    trunk              1
HAM_0005038  ISIC_0026914  nv   follow_up  55.0  male    back               1
HAM_0000000  ISIC_0025346  nv   histo      60.0  male    back               1
Length: 9958, dtype: int64

In [37]:
benign = df.loc[df['dx'] == 'bkl']

In [38]:
benign

        lesion_id      image_id   dx    dx_type   age     sex     localization
0     HAM_0000118  ISIC_0027419  bkl      histo  80.0    male            scalp
1     HAM_0000118  ISIC_0025030  bkl      histo  80.0    male            scalp
2     HAM_0002730  ISIC_0026769  bkl      histo  80.0    male            scalp
3     HAM_0002730  ISIC_0025661  bkl      histo  80.0    male            scalp
4     HAM_0001466  ISIC_0031633  bkl      histo  75.0    male              ear
...           ...           ...  ...        ...   ...     ...              ...
3326  HAM_0002276  ISIC_0025366  bkl  consensus  50.0  female            trunk
7100  HAM_0006159  ISIC_0028977  bkl  consensus  50.0  female  upper extremity
9546  HAM_0003807  ISIC_0032655  bkl  consensus  40.0    male          unknown
9630  HAM_0003807  ISIC_0033620  bkl  consensus  40.0    male          unknown
9631  HAM_0003808  ISIC_0034040  bkl  consensus  40.0    male          unknown

[1099 rows x 7 columns]

In [41]:
benign = benign['image_id']

In [42]:
benign.head()

0    ISIC_0027419
1    ISIC_0025030
2    ISIC_0026769
3    ISIC_0025661
4    ISIC_0031633
Name: image_id, dtype: object

In [52]:
import os
import shutil

In [ ]:
source_folder = input('C:\Users\15164\Desktop\lesionimages')
#this code takes in the file path of our source folder
destination_folder = input('C:\Users\15164\Desktop\benign')
#this code takes in the file path of our destination folder